<div class="score">

  <div class="score__background">
    <img src="../assets/img/about_us_score_background.png" alt="gloves">
  </div>


  <div class="score__info">

    <div class="score__cleaned">
      <p class="score__amount">{{score.CLEANED}}</p>
      <p class="score__text">{{'SCORE.CLEANED' | translate}}</p>
    </div>

    <div class="score__professionals">
      <p class="score__amount">{{score.PROFESSIONALS}}</p>
      <p class="score__text">{{'SCORE.PROFESSIONALS' | translate}}</p>
    </div>

    <div class="score__happy-clients">
      <p class="score__amount">{{score.HAPPY_CLIENTS}}</p>
      <p class="score__text">{{'SCORE.HAPPY_CLIENTS' | translate}}</p>
    </div>

  </div>

</div>
