extra-info {

  .extra-info {
    display: flex;
    flex-wrap: wrap;

    color: $COLOR-PRIMARY;
    background-color: $COLOR-WHITE;

    > * {
      flex: 1;
      min-width: 300px;
    }

    &__main {

      &__title {
        text-align: left;
        padding-right: 0;
      }

      &__sub {
        padding: 0 4rem;
        font-size: 1.3rem;
      }

    }

    &__info {

      padding: 4rem;

      &__container {

        &__header {
          font-size: 2rem;
          padding-bottom: 2rem;
        }

        &__text {
          padding-bottom: 2rem;
        }

      }

    }
  }

}
