<div class="extra-info">

  <div class="extra-info__main">

    <p class="extra-info__main__title title">
      {{'EXTRA_INFO.MAIN.TITLE' | translate}}
    </p>

    <p class="extra-info__main__sub">
      {{'EXTRA_INFO.MAIN.SUB' | translate}}
    </p>


  </div>

  <div class="extra-info__info">

    <div class="extra-info__info__container">

      <p class="extra-info__info__container__header">
        {{'EXTRA_INFO.INFO.PAYING.HEADER' | translate}}
      </p>

      <p class="extra-info__info__container__text">
        {{'EXTRA_INFO.INFO.PAYING.TEXT' | translate}}
      </p>

    </div>

    <div class="extra-info__info__container">

      <p class="extra-info__info__container__header">
        {{'EXTRA_INFO.INFO.CANCEL.HEADER' | translate}}
      </p>

      <p class="extra-info__info__container__text">
        {{'EXTRA_INFO.INFO.CANCEL.TEXT' | translate}}
      </p>

    </div>

    <div class="extra-info__info__container">

      <p class="extra-info__info__container__header">
        {{'EXTRA_INFO.INFO.GUARANTEE.HEADER' | translate}}
      </p>

      <p class="extra-info__info__container__text">
        {{'EXTRA_INFO.INFO.GUARANTEE.TEXT' | translate}}
      </p>

    </div>

  </div>

</div>
