* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

$COLOR-WHITE: #fff;
$COLOR-BLACK: #000;
$COLOR-PRIMARY: #0f93f3;
$COLOR-SECONDARY: #deff4f;

@import "style/animations";
@import "components/components";
